<div class="Index ui form">
  
  <h1 class="ui center aligned header">
    {{ $t('Sentence Encode') }}
  </h1>

  <div class="ui grid">

    <div class="six wide column">
      <InputRawText 
        ref="InputRawText"
        v-bind:config="config"
        v-bind:localConfig="localConfig"
        v-bind:utils="utils">
      </InputRawText>
      
    </div>

    <div class="five wide column">
      <PreprocessTextarea 
        ref="PreprocessTextarea"
        v-bind:config="config"
        v-bind:localConfig="localConfig"
        v-bind:utils="utils">
      </PreprocessTextarea>
    </div>

    <div class="five wide column">
      <StructureData 
        ref="StructureData"
        v-bind:config="config"
        v-bind:localConfig="localConfig"
        v-bind:utils="utils">
      </StructureData>
      
    </div>
  </div>
  
  <LoadingOverlay 
    v-if="config.loading"
    ref="LoadingOverlay"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </LoadingOverlay>
  
</div>