<div class="Index ui form">
  <h1 class="ui center aligned header">
    {{ $t('Sentence Encode') }}
  </h1>

  <div class="ui grid">

    <div class="six wide column">
      <div class="field">
        <label for="InputRawText">
          {{ $t('Input Raw Text') }}
        </label>
      </div>

      <div class="three fields">
        <div class="field">
          <select v-model="loadDemo">
            <option value="none">{{ $t('Select a demo') }}</option>
            <option v-for="item in demoOptions"
                    v-bind:value="item.path">{{ $t(item.name) }}</option>
          </select>
        </div>
        <div class="field">
          <a class="ui fluid button">
            <i class="save outline icon"></i>
            {{ $t('SAVE') }}
          </a>
        </div>
        <div class="field">
          <a class="ui fluid button">
            <i class="folder open outline icon" />
            {{ $t('OEPN') }}
          </a>
        </div>
        
      </div>

      <div class="field">
        <textarea 
          class="input-raw-text-textarea"
          id="InputRawText"
          v-model="InputRawText"></textarea>
      </div>
      
      <div class="two fields">
        <div class="field">
          <a class="ui fluid button">
            {{ $t('TOKENIZATION') }}
            <i class="arrow alternate circle right outline icon"></i>
          </a>
        </div>
        <div class="field">
          <a class="ui fluid button">
            {{ $t('EMBEDDING') }}
            <i class="arrow alternate circle right outline icon"></i>
          </a>
        </div>
      </div>
    </div>


    <div class="five wide column">
      <div class="field">
        <label for="InputTransText">
          {{ $t('Preprocess') }}
          <template v-if="nlpMode === 'embedding'">
            :
            {{ $t('Translated') }}
          </template>
          <template v-if="nlpMode === 'tokenization'">
            :
            {{ $t('Tokenized') }}
          </template>
        </label>
        <textarea 
          v-html="InputTransText"
          id="InputTransText"
          class="input-trans-text-textarea"
          readonly=""></textarea>
      </div>
      
      <div class="field">
        <a class="ui fluid button">
          {{ $t('NEXT') }}
          <i class="arrow alternate circle right outline icon"></i>
        </a>
      </div>
    </div>

    <div class="five wide column">
      <div class="field">
        <label for="SentenceEmbedding">
          {{ $t('Stucture Data') }}
          <template v-if="nlpMode === 'embedding'">
            :
            {{ $t('Embedding') }}
          </template>
          <template v-if="nlpMode === 'tokenization'">
            :
            {{ $t('Word Vector') }}
          </template>
        </label>
        <textarea 
          class="sentence-embedding-textarea"
          id="SentenceEmbedding"
          v-html="SentenceEmbedding"></textarea>
      </div>

      <div class="field">
        <a class="ui fluid button">
          {{ $t('SAVE') }}
          <i class="save outline icon"></i>
        </a>
      </div>
    </div>
  </div>
</div>