<div class="Index ui form">
  <h1 class="ui center aligned header">
    {{ $t('Sentence Encode') }}
  </h1>

  <div class="ui grid">

    <div class="six wide column">
      <div class="field">
        <label>
          {{ $t('Input Raw Text') }}
        </label>
      </div>

      <div class="three fields">
        <div class="field">
          <select v-model="loadDemo">
            <option value="none">{{ $t('Select a demo') }}</option>
            <option v-for="item in demoOptions"
                    v-bind:value="item.path">{{ $t(item.name) }}</option>
          </select>
        </div>
        <div class="field">
          <a class="ui fluid button">
            <i class="save outline icon"></i>
            {{ $t('SAVE') }}
          </a>
        </div>
        <div class="field">
          <a class="ui fluid button">
            <i class="folder open outline icon" />
            {{ $t('OEPN') }}
          </a>
        </div>
        
      </div>

      <div class="field">
        <textarea 
          class="input-raw-text-textarea"
          v-model="InputRawText"></textarea>
      </div>
      
      <div class="two fields">
        <div class="field">
          <a class="ui fluid button">
            {{ $t('TOKENIZATION') }}
            <i class="arrow alternate circle right outline icon"></i>
          </a>
        </div>
        <div class="field">
          <a class="ui fluid button">
            {{ $t('EMBEDDING') }}
            <i class="arrow alternate circle right outline icon"></i>
          </a>
        </div>
      </div>
    </div>


    <div class="five wide column">
      <div class="field">
        <label>
          {{ $t('Translated Text') }}
        </label>
        <textarea 
          v-html="InputTransText"
          class="input-trans-text-textarea"
          readonly=""></textarea>
      </div>
      
      <div class="field">
        <a class="ui fluid button">
          {{ $t('NEXT') }}
          <i class="save outline icon"></i>
        </a>
      </div>
    </div>

    <div class="five wide column">
      <div class="field">
        <label>
          {{ $t('Sentence Embedding') }}
        </label>
        <textarea 
          class="sentence-embedding-textarea"
          v-html="SentenceEmbedding"></textarea>
      </div>

      <div class="field">
        <a class="ui fluid button">
          <i class="save outline icon"></i>
          {{ $t('SAVE') }}
        </a>
      </div>
    </div>
  </div>
</div>